.contenedor{
    margin-bottom: 20px;
    background: whitesmoke;
    color: #fff;
}

.contenedor div{
    background: #0d6efd;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, .25);
}

div .alto{
    height: 200px;
    background-color: #98ded9;
}

.container{
    background: whitesmoke;
}

.row > div {
    margin-top: 20px;
}

div .contenedor{
    background: #98ded9;
}